<div class="uploader-file row">
	<div class="col-md-6"><span class="name"><%= name %></span></div>
	<div class="col-md-3">
	    <span class="size"><%= size %></span>
	    <div class="progress hidden">
	        <div class="progress-label"></div>
	        <div class="bar"></div>
	    </div>
	    <span class="message hidden"></span>
	</div>
	<div class="col-md-3">
	    <button class="btn btn-warning btn-xs btn-cancel"><i class="icon-remove"></i>Cancel</button>
	    <button class="btn btn-xs btn-clear">Clear</button>
	</div>
</div>
