<div style="margin: 100px; width: 600px;" id="manager-area">
	<h3 class="popover-title">Upload files</h3>
	<div class="popover-content container-fluid" id="file-list">
	    <div class="no-data"><em>Add files.</em></div>
	</div>
	<footer>
	    <button class="btn btn-warning pull-right btn-sm" id="cancel-uploads-button"><i class="icon-cancel"></i>Cancel uploads</button>
	    <span class="btn btn-success fileinput-button btn-sm" id="fileinput-button">
	        <i class="icon-plus"></i>
	        <span>Add files...</span>
	        <input id="fileupload" type="file" name="files[]" multiple="multiple">
	    </span>
	    <button class="btn btn-primary btn-sm" id="start-uploads-button"><i class="icon-start"></i>Start uploads</button>
	</footer>
</div>